<table class="tableau">
    <tr>
        <th>_id</th>
        <th>Nom</th>
        <th>Prenom</th>        
        <th>Téléphone</th>  
    </tr>
    <%  for (elm of adresses) {%>
    <tr>
        <td><%= elm._id %></td>
        <td contenteditable='true'><%= elm.nom %></td>
        <td contenteditable='true'><%= elm.prenom %></td>
        <td contenteditable='true'><%= elm.telephone %></td>                
        <td><a href="/detruire/<%= elm._id %>">Détruire</a></td>
        <td><a class='modifier' href="#">Modifier</a></td>
    </tr>
    <% } %>
</table>

<form name="frmUpdate" id="frmUpdate" action="/modifier" method="post">
    <input  type="text" placeholder="_id" name="_id" id='_id'>
    <input  type="text" placeholder="nom" name="nom" id='nom'>
    <input  type="text" placeholder="prenom" name="prenom" id='prenom'>
    <input  type="text" placeholder="telephone" name="telephone" id='telephone'>
    <button type="submit">Ajouter</button>
</form>

<script type="text/javascript">
    let elmModifier = document.querySelectorAll('.modifier')
    console.log(elmModifier.length)
    for (elm of elmModifier)
        {
            elm.addEventListener('click', function(){
            console.log(this.parentElement.parentElement.id)
            let elmTr = this.parentElement.parentElement 
            let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
            let nom = elmTr.querySelector('td:nth-child(2)').innerHTML
            let prenom = elmTr.querySelector('td:nth-child(3)').innerHTML
            let telephone = elmTr.querySelector('td:nth-child(4)').innerHTML

            elmForm = document.getElementById('frmUpdate')

            elmForm.nom.value = nom
            elmForm.prenom.value = prenom
            elmForm.telephone.value = telephone
            elmForm._id.value =  _id
            elmForm.submit()
            })
        }



</script>

