<table class="tableau">
    <tr>
        <th>_id</th>
        <th>Nom</th>
        <th>Prenom</th>        
        <th>Téléphone</th>  
    </tr>
    <%  for (elm of adresses) {%>
    <tr>
        <td><%= elm._id %></td>
        <td><%= elm.nom %></td>
        <td><%= elm.prenom %></td>
        <td><%= elm.telephone %></td>                
        <td><a href="/detruire/<%= elm._id %>">Détruire</a></td>
    </tr>
    <% } %>
</table>

